<!-- 
<div class="container">
    <div class="row">

        <div class="col-md-4">

        <div class="form-group">

            <label for="" class="form-label">username</label>
            <input type="text"  name="username" id="" [(ngModel)]="username" class="form-control">
        </div>
        </div>
        </div>
    
            <div class="row">
            <div class="col-md-4">
            <label for="" class="form-label">password</label>
            <input type="text"  name="Password" id="" [(ngModel)]="password" class="form-control">

            </div>
            </div>

            <div class="row">
            <div class="col-md-4">


            <button class="btn btn-primary" (click)="login()">Login</button>
            <button class="btn-btn-success" (click)="cancel()">Reset</button>
        </div>
    </div>
    </div>
   -->



    <!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    
    <h2 class="text-center">Login Form</h2>
    
    <form action="/action_page.php" method="post">
      <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png"  alt="Avatar" class="avatar w-25">
      </div>
    
      <!-- <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required> -->

        <div class="container">
            <div class="row">
        
                <div class="col-md-12">
        
                <div class="form-group">
        
                    <label for="" class="form-label">username</label>
                    <input type="text"  name="username" id="" [(ngModel)]="username" class="form-control">
                </div>
                </div>
                </div>
            
                    <div class="row">
                    <div class="col-md-12">
                    <label for="" class="form-label">password</label>
                    <input type="text"  name="Password" id="" [(ngModel)]="password" class="form-control">
        
                    </div>
                    </div>
        
                    <div class="row">
                    <div class="col-md-12">
        
        
                    <button class="btn btn-primary" (click)="login()">Login</button>
                    <button class="cancelbtn" (click)="cancel()">Reset</button>
                </div>
            </div>
            </div>
    </form>
    
    </body>
    </html>
    













































 


